<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="barbiEntities" connectionString="metadata=res://*/barber_database.csdl|res://*/barber_database.ssdl|res://*/barber_database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="barbi_shop_dbEntities" connectionString="metadata=res://*/barbi_database.barbi_model.csdl|res://*/barbi_database.barbi_model.ssdl|res://*/barbi_database.barbi_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL;initial catalog=barbi_shop_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BarbeShopDBEntities" connectionString="metadata=res://*/barbi_database.Model1.csdl|res://*/barbi_database.Model1.ssdl|res://*/barbi_database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=95.165.99.187,29678;initial catalog=BarbeShopDB;user id=sa;password=tr0llcr4ck;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>